In [1]:
import pandas as pd 
import scipy
from scipy import stats
import numpy as np

In [ ]:
#null hypothesis H0-defective % doesnot varies by centers
#alternative hypothesis H1-defective % varies by centers

In [2]:
data=pd.read_csv('Customer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [4]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [5]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [6]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [7]:
obv=np.array([[271,267,269,280],[29,33,31,20]])
obv

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [8]:
chi_square=scipy.stats.chi2_contingency(obv)
chi_square

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [9]:
chi_square=[['','Test Statistic','p-value'],['Sample data',chi_square[0],chi_square[1]]]
chi_square

[['', 'Test Statistic', 'p-value'],
 ['Sample data', 3.858960685820355, 0.2771020991233135]]

In [ ]:
#  α at 5% L.O.S is 0.005
# from above test we got p value as 0.277 0.277>0.05 i.e, p>0.05 so we accept null hypothesis.
#Therefore,we say defective percentage doesnt varies by 4 centers.